<div class="row-two">
    <div class="container-padding">
        r2c1
    </div>
    <div class="container-padding">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <button (click)="navigateTo('courses')" type="button" class="nav-button" mat-raised-button
                        color="primary" class="home">
                        <mat-icon>autorenew</mat-icon>
                    </button>
                    <button (click)="navigateTo('courses')" type="button" class="nav-button" mat-raised-button
                        color="primary" class="home">
                        Enter
                    </button>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Type Password" aria-label="Type Password"
                aria-describedby="basic-addon1">
        </div>
        <table class="table">
            <thead class="thead-dark">
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Password1</th>
                    <th><button type="button" class="btn btn-danger pull-right" (click)="removeStudent(i)">X</button>
                    </th>
                </tr>
                <tr>
                    <th scope="row">Password2</th>
                    <th><button type="button" class="btn btn-danger pull-right" (click)="removeStudent(i)">X</button>
                    </th>
                </tr>
                <tr>
                    <th scope="row">Password3</th>
                    <th><button type="button" class="btn btn-danger pull-right" (click)="removeStudent(i)">X</button>
                    </th>
                </tr>
                <tr>
                    <th scope="row">Password4</th>
                    <th><button type="button" class="btn btn-danger pull-right" (click)="removeStudent(i)">X</button>
                    </th>
                </tr>
                <tr>
                    <th scope="row">Password5</th>
                    <th><button type="button" class="btn btn-danger pull-right" (click)="removeStudent(i)">X</button>
                    </th>
                </tr>
            </tbody>
        </table>