<br>
<br>
<div class="input-group mb-3 output-layout ">
  <div class="input-group-prepend">
    <button (click)="generate()" class="btn btn-primary btn-sm btn-block button-length " type="button" id="button-addon1">Generate</button>
  </div>


  <table class="form-control">
    <thead>
      <tr>
        <th scope="col">{{tempPassword}}</th>
      </tr>
    </thead>
  </table>
  <button class="btn btn-success btn-sm btn-block button-length" type="button" id="button-addon1">Save</button>
</div>
<div class="input-group mb-3 output-layout">
  <div class="input-group-prepend">
    <button class="btn btn-success btn-sm btn-block button-length" type="button" id="button-addon1"
      (click)="testPassword(passwordToTest)">Submit</button>
  </div>
  <input type="text" class="form-control" placeholder="Test Your Password Here"
    aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="passwordToTest">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2">{{passwordLabel}}</span>
  </div>
</div>
<br>
<div>
  <table class=" table-bordered table-striped password-table text-center">
    <thead>
    </thead>
    <tbody>
      <tr *ngFor="let password of passwordArray; let i = index">
        <th class="table table-bordered" scope="row">{{password.generatedPassword}}</th>
        <button type="button" class="btn btn-danger contact-button center-block ">X</button>
      </tr>
    </tbody>
  </table>
</div>