/* .nav-action-container{
    margin: 20px auto;
    width: 90%;
}
.main-nav {
    padding: 10px 5%;
}
.contact-button{
    margin: 10px auto;
    text-align: center;
}
.contact-grid{
    display: grid;
    margin: 20px auto;
    widows: 90%;
    height: 80vh;
    max-height: 80vh;
    overflow: auto;
}
.output-layout{
    width: 5%;
    padding-left: 500px;
    padding-right: 500px;
    margin: 10px auto;
    width: 85%;   
}
.password-table {
    width: 0%;
    margin: 10px auto;
    width: 15%;
    text-align: center;
}
.button-layout {
    width: 110%;
    text-align: center;
}
.button-length {
    width: 78px !important;
} */
.statusbox {
    /* margin: 100px 4 77; */
    justify-content: center;
}  

.checkbox-padding {
    padding-right: 30px;
}

.password-table {
    width: 80%;
}

.custom-header {
    width: 80%;
    margin: auto;
    font-size: larger;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}
