<br>
<br>
<div class="input-group mb-3 output-layout ">
  <div class="input-group-prepend">
    <button class="btn btn-primary btn-sm btn-block button-length " type="button" id="button-addon1"
      (click)="password()">
      <mat-icon>autorenew</mat-icon>
    </button>
  </div>
  <input type="text" class="form-control" placeholder="Password" aria-label="Example text with button addon" aria-describedby="button-addon1" 
  [(ngModel)]="this.shuffledPasswordString">

  <!-- <table class="form-control">
    <thead>
      <tr>
        <th scope="col">{{tempPassword}}</th>
      </tr>
    </thead>
  </table> -->
  <button class="btn btn-success btn-sm btn-block button-length" type="button" id="button-addon1" (click)="savePassword(i)"><mat-icon>save_alt</mat-icon></button>
</div>



<div class="input-group mb-3 output-layout">
  <div class="input-group-prepend">
    <button class="btn btn-success btn-sm btn-block button-length" type="button" id="button-addon1"
      (click)="testPassword(passwordToTest)">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <input type="text" class="form-control" placeholder="Test Your Password Here"
    aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="passwordToTest">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2">{{passwordLabel}}</span>
  </div>
</div>


<form class="was-validated statusbox font-weight-bold form-row align-items-center">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
    <label class="custom-control-label" for="customControlValidation1">Upercase</label>
  </div>
  <div class="custom-control custom-checkbox ">
    <input type="checkbox" class="custom-control-input" id="customControlValidation2" required>
    <label class="custom-control-label" for="customControlValidation2">Lowercase</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customControlValidation3" required>
    <label class="custom-control-label" for="customControlValidation3">Number</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customControlValidation4" required>
    <label class="custom-control-label" for="customControlValidation4">Special Characters</label>
  </div>
  </form>
  
  
  
  <br>

<div>
  <table class=" table-bordered table-striped password-table text-center">
    <thead>
    </thead>
    <tbody>
      <tr *ngFor="let password of passwordArray; let i = index">
        <th class="table table-bordered" scope="row">{{password.generatedPassword}}</th>
        <div class="btn-group">
          <button type="button" class="btn btn-danger contact-button center-block" (click)="deletePassword(i)"><mat-icon>delete</mat-icon></button>
          <button type="button" class="btn btn-warning contact-button center-block">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </tr>
    </tbody>
  </table>
</div>