/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
html, body {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    /* background-image: url(background2.jpg); */
    background-image: url(background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-action-container{
    margin: 20px auto;
    width: 90%;
}
.main-nav {
    padding: 10px 5%;
}
.contact-button{
    margin: 10px auto;
    text-align: center;
}
.contact-grid{
    display: grid;
    margin: 20px auto;
    widows: 90%;
    height: 80vh;
    max-height: 80vh;
    overflow: auto;
}
.output-layout{
    padding-left: 500px auto;
    padding-right: 500px auto;
    margin: 10px auto;
    width: 35%;   
}
.password-table {
    padding-left: 500px auto;
    padding-right: 500px auto;
    margin: 10px auto;
    width: 25%; 
}
/* .button-layout {
    width: 110%;
    text-align: center;
} */
.button-length {
    width: 78px !important;
}
