<mat-toolbar color="accent" class="color">
  <div class="row-one">
    <div class="container-padding">
      <span>r1c1</span>
    </div>
    <div id="r1c2" class="container-padding">
      <button (click)="navigateTo('')" type="button" class="nav-button" mat-raised-button color="primary" class="home">
          <mat-icon>home</mat-icon>
      </button>
      <button (click)="navigateTo('courses')" type="button" class="nav-button" mat-raised-button color="primary"
        class="home">
        Courses
      </button>
    </div>
    <div class="container-padding">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    </div>
  </div>
</mat-toolbar>